/**
* Name: possibilidades
* Thumbnail: thumbnail.png
* Version: 13/11/2013
*/


// Theme Options
// -------------------------

$theme-main-color: 					#4b2775;
$theme-alt-color: 					#285660;
$theme-main-nav-base-color:			$theme-main-color;
$theme-footer-base-color:			$theme-main-color;
$theme-header-background-img:		'flavours/possibilidades/header.jpg';
$theme-logo: 						'flavours/possibilidades/logo.png';
$theme-logo-retina: 				'flavours/possibilidades/logo@2x.png';


@import "iasd-variables";
@import "iasd-bootstrap";
