/**
* Name: SALT
* Thumbnail: thumbnail.png
* Version: 03/11/2014
*/



// Theme Options
// -------------------------

$theme-main-color: 					#bb922e;
$theme-alt-color: 					#4e0c1e;
$theme-main-nav-base-color:			$theme-main-color;
$theme-footer-base-color:			$theme-main-color;
$theme-header-background-img:		'flavours/salt/header.jpg';
$theme-logo: 						'flavours/salt/logo.png';
$theme-logo-retina: 				'flavours/salt/logo@2x.png';

@import "iasd-variables";
@import "iasd-bootstrap";
