* {
  color: #000;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 16px;
}

h1 {
  font-size: 24px;
  line-height: 26px;
  margin: 0 0 20px 0;
}

h2 {
  font-size: 22px;
  line-height: 24px;
  margin: 0 0 20px 0;
}

h3 {
  font-size: 20px;
  line-height: 22px;
  margin: 0 0 20px 0;
}

h4 {
  font-size: 18px;
  line-height: 20px;
  margin: 0 0 20px 0;
}

h5 {
  font-size: 16px;
  line-height: 18px;
  margin: 0 0 20px 0;
}

h6 {
  font-size: 14px;
  line-height: 16px;
  margin: 0 0 20px 0;
}

a {
  text-decoration: none;
}

body > footer, body > header .brand, .iasd-global_navbar, .iasd-dropdown-navigation, .iasd-main_navbar, .entry-content + aside, .entry-content .sharing-links {
  display: none;
}

body > header {
  border-bottom: 1px solid #000;
  margin-bottom: 30px;
  padding-bottom: 15px;
}

.entry-content {
  display: block;
}
.entry-content hr, .entry-content iframe, .entry-content footer {
  display: none;
}

.archive figure {
  display: none;
}
.archive ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.archive aside {
  display: none;
}
