Redirect 302	/publicacoes	https://www.adventistas.org/pt/publicacoes
Redirect 302	/publicaciones	https://www.adventistas.org/es/publicaciones
Redirect 302	/mordomiacrista	https://www.adventistas.org/pt/mordomiacrista
Redirect 302	/mayordomiacristiana	https://www.adventistas.org/es/mayordomiacristiana
Redirect 302	/pt/mordomia	https://www.adventistas.org/pt/mordomiacrista
Redirect 302    /es/mayordomia    https://www.adventistas.org/es/mayordomiacristiana
Redirect 302	/mordomia	https://www.adventistas.org/pt/mordomiacrista
Redirect 302	/mayordomia	https://www.adventistas.org/es/mayordomiacristiana
Redirect 302	/educacao	https://www.adventistas.org/pt/educacao
Redirect 302	/educacion	https://www.adventistas.org/es/educacao
Redirect 302	/mulher	https://www.adventistas.org/pt/mulher
Redirect 302	/mujer	https://www.adventistas.org/es/mujer
Redirect 302	/saude	https://www.adventistas.org/pt/saude
Redirect 302	/salud	https://www.adventistas.org/es/salud
Redirect 302	/sonhandoalto	https://www.adventistas.org/pt/publicacoes/projeto/sonhando-alto
Redirect 302	/suenaengrande	https://www.adventistas.org/es/publicaciones/proyecto/suena-en-grande/
Redirect 302 	/pt/sonhandoalto https://www.adventistas.org/pt/publicacoes/projeto/sonhando-alto
Redirect 302	/missaoglobal	https://www.adventistas.org/pt/missaoglobal
Redirect 302	/misionglobal	https://www.adventistas.org/es/misionglobal
Redirect 302	/ministeriopessoal	https://www.adventistas.org/pt/ministeriopessoal
Redirect 302	/ministeriopersonal	https://www.adventistas.org/es/ministeriopersonal
Redirect 302	/jovens	https://www.adventistas.org/pt/jovens
Redirect 302	/jovenes	https://www.adventistas.org/es/jovenes
Redirect 302	/criancas	https://www.adventistas.org/pt/criancas
Redirect 302	/crianca	https://www.adventistas.org/pt/criancas
Redirect 302	/pt/crianca	https://www.adventistas.org/pt/criancas
Redirect 302	/nino	https://www.adventistas.org/es/ninos
Redirect 302	/ninos	https://www.adventistas.org/es/ninos
Redirect 302	/liberdadereligiosa	https://www.adventistas.org/pt/liberdadereligiosa
Redirect 302	/libertadreligiosa	https://www.adventistas.org/es/libertadreligiosa
Redirect 302	/escolasabatina	https://www.adventistas.org/pt/escolasabatina
Redirect 302	/escuelasabatica	https://www.adventistas.org/es/escuelasabatica
Redirect 302	/desbravadores	https://www.adventistas.org/pt/desbravadores
Redirect 302	/conquistadores	https://www.adventistas.org/es/conquistadores
Redirect 302	/comunicacao	https://www.adventistas.org/pt/comunicacao
Redirect 302	/comunicacion	https://www.adventistas.org/es/comunicacion
Redirect 302	/associacaoministerial	https://www.adventistas.org/pt/associacaoministerial
Redirect 302	/asociacionministerial	https://www.adventistas.org/es/asociacionministerial
Redirect 302	/oracao	https://www.adventistas.org/pt/oracao
Redirect 302	/oracion	https://www.adventistas.org/es/oracion
Redirect 302	/esperanca	https://www.adventistas.org/pt/aultimaesperanca
Redirect 302	/esperanza	https://www.adventistas.org/es/laultimaesperanza
Redirect 302	/10diasoracao	https://www.adventistas.org/pt/10-dias-de-oracao/
Redirect 302	/10diasoracion	https://www.adventistas.org/es/mujer/10-dias-de-ayuno-y-oracion/
Redirect 302	/pt/10diasdeoracao	https://www.adventistas.org/pt/10-dias-de-oracao/
Redirect 302	/es/10diasdeoracion	https://www.adventistas.org/es/mujer/projeto/10-dias-de-oracion-y-10-horas-de-ayuno/
Redirect 302	/licao	https://www.adventistas.org/pt/escolasabatina/
Redirect 302	/leccion	https://www.adventistas.org/es/escuelasabatica/
Redirect 302	/missaocalebe	https://www.adventistas.org/pt/missaocalebe/
Redirect 302	/misioncaleb	https://www.adventistas.org/es/misioncaleb/
Redirect 302	/esperancabrasil	https://www.adventistas.org/pt/esperancabrasil/
Redirect 302	/semanajoven	https://www.adventistas.org/es/jovenes/semana-joven-2014/
Redirect 302	/mutiraodenatal	https://www.adventistas.org/pt/adra/projeto/manual-do-mutirao-de-natal/
Redirect 302	/lesadv		https://www.adventistas.org/pt/escolasabatina/
Redirect 302	/partituras	https://www.adventistas.org/pt/musica/partituras/
Redirect 302	/historinhas	https://www.adventistas.org/pt/criancas/category/historias-infantis/
Redirect 302	/mishistorias	https://www.adventistas.org/es/ninos/category/historia-adoracion-infantil/
Redirect 302	/espiritudeprofecia	https://www.adventistas.org/es/espiritudeprofecia
Redirect 302	/espiritodeprofecia	https://www.adventistas.org/pt/espiritodeprofecia
Redirect 302	/coadjuvantes	https://www.adventistas.org/pt/coadjuvantes
Redirect 302	/actoressecundarios	https://www.adventistas.org/es/actoressecundarios
Redirect 302	/natal	https://www.adventistas.org/pt/datas-especiais/natal/
Redirect 302	/navidad	https://www.adventistas.org/es/fechas-especiales/navidad/
Redirect 302	/christmas	https://www.youtube.com/watch?v=f3aY0KGvgW4
Redirect 302	/pt/desbravadores/encontre-um-clube/	https://clubes.adventistas.org/br/
Redirect 302	/pt/aventureiros/encontre-um-clube/	https://clubes.adventistas.org/br/
Redirect 302	/es/conquistadores/encuentra-un-club/	https://clubes.adventistas.org/es/
Redirect 302	/es/aventureros/encuentra-un-club/	https://clubes.adventistas.org/es/
Redirect 302	/gain2016	https://gain2016.vpeventos.com/plugin-inscricao-SkN4RFJGa3NVR0JnQ21BSw==.html
Redirect 302	/reencontro	https://www.adventistas.org/pt/reencontro/
Redirect 302	/reencuentro	https://www.adventistas.org/es/reencuentro/
Redirect 302	/conteaomundo	https://telltheworld.adventist.org/pt/
Redirect 302	/ConteAoMundo	https://telltheworld.adventist.org/pt/
Redirect 302	/comotudocomecou	https://telltheworld.adventist.org/pt-br/evento
Redirect 302	/ComoTudoComecou	https://telltheworld.adventist.org/pt-br/evento
Redirect 302	/ComoTodoComenzo	https://telltheworld.adventist.org/es/host
Redirect 302	/comotodocomenzo	https://telltheworld.adventist.org/es/host
Redirect 302	/congressomundialmj	https://www.adventistas.org/pt/jovens/projeto/congresso-mundial-2018/
Redirect 302	/congresomundialmj	https://www.adventistas.org/es/jovenes/proyecto/congreso-mundial-2018/
Redirect 302	/oresgate	https://esperanca.com.br/o-resgate/
Redirect 302	/Oresgate	https://esperanca.com.br/o-resgate/
Redirect 302	/Elrescate	https://esperanzaweb.com/el-rescate/
Redirect 302	/elrescate	https://esperanzaweb.com/el-rescate/
Redirect 302	/provaievede	https://www.adventistas.org/pt/mordomiacrista/projeto/provai-e-vede/ 
Redirect 302	/provadyved	https://www.adventistas.org/es/mayordomiacristiana/proyectos/probad-ved/
Redirect 302	/probadyved	https://www.adventistas.org/es/mayordomiacristiana/proyectos/probad-ved/
Redirect 302	/faledejesus	https://www.adventistas.org/pt/fale-de-jesus/
Redirect 302	/primeirodeus	https://www.adventistas.org/pt/mordomiacrista/projeto/primeiro-deus/
Redirect 302	/primerodios	https://www.adventistas.org/es/mayordomiacristiana/proyectos/primero-dios/
Redirect 302	/feirasaude	https://www.adventistas.org/pt/saude/cadastro-feira-de-saude/
Redirect 302	/pesquisa	https://www.adventistas.org/pt/pesquisa/
Redirect 302	/encuesta	https://www.adventistas.org/pt/ecuesta/
Redirect 302	/pt/missaocalebe	https://www.adventistas.org/pt/jovens/projeto/missao-calebe/
Redirect 302	/es/misioncaleb	https://www.adventistas.org/es/jovenes/proyecto/mision-caleb/
Redirect 302	/10días	https://www.adventistas.org/es/10dias/
Redirect 302	/gain	https://gain.adventistas.org/2018/
Redirect 302 	/noroeste	http://unob.adventistas.org
Redirect 302	/amazonasroraima	http://aamar.adventistas.org
Redirect 302	/amazonas	http://aceam.adventistas.org
Redirect 302	/sulderondonia	http://asur.adventistas.org
Redirect 302	/acrerondonia 	http://aamo.adventistas.org 
Redirect 302    /cultospresenciais  https://www.adventistas.org/pt/institucional/organizacao/declaracoes-e-documentos-oficiais/orientacoes-da-igreja-adventista-do-setimo-dia-sobre-o-retorno-aos-cultos-presenciais-e-enfases-de-acao/
Redirect 302    /cultospresenciales https://www.adventistas.org/es/institucional/organizacion/declaraciones-y-documentos-oficiales/orientaciones-de-la-iglesia-adventista-del-septimo-dia-sobre-el-regrsso-a-los-cultos-presenciales-y-enfasis-de-accion/
Redirect 302    /umavozdeesperanca  https://www.adventistas.org/pt/institucional/organizacao/declaracoes-e-documentos-oficiais/uma-voz-de-esperanca/
Redirect 302    /unavozdeesperanza  https://www.adventistas.org/es/institucional/organizacion/declaraciones-y-documentos-oficiales/una-voz-de-esperanza/

# RewriteEngine On
# RewriteCond %{HTTP_HOST} !^www\.
# RewriteRule ^(.*)$ https://www.%{HTTP_HOST}/$1 [R=302,L]
