@import "compass";
@import "compass/css3";
@import "compass/css3/opacity";

$color1: #222222;
$color2: #F3F3E9;
$color3: $color1;
$color4: #D96911;

section {
	padding: 60px 0;
}

#html5-watermark {
	display: none !important;
}

.iasd-global_navbar {
	background: none !important;
}

.navbar-default {
	background: $color1 !important;
}

body {

	&>header {
		background-image: image-url("header-bg.jpg") !important;
		height: image-height("header-bg.jpg");
	}

	&>footer {
		background: $color1;
		@include background-image(linear-gradient($color3, adjust-lightness($color3, -10%)));
		margin-top: 0;
	}
}

h2 {
	color: $color4;
	font-size: 36px;
	text-transform: uppercase;
	margin-bottom: 60px;

	small {
		color: $color2;
		text-transform: none;
		display: block;
		margin-top: 10px;
	}
}

.logo {
	position: relative;
	height: image-height("header-bg.jpg");

	img {
		position: absolute;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}
}

.videos {
	background: $color1;

	.principal {
		margin-bottom: 80px;
		position: relative;

		span.icon {
			width: 120px;
			height: 85px;
			font-size: 9em;
			line-height: 85px;
		}
	}

	.secundario {

		.itens {
			min-height: 310px;

			a{
				display: block;
				margin-bottom: 40px;
			}
		}

		.image_video {
			margin-bottom: 20px;
			position: relative;
		}

		span.icon {
			width: 65px;
			height: 45px;
			font-size: 5em;
			line-height: 45px;
		}

		span.title {
			font-size: 20px;
			color: $color2;
			font-weight: 300;
		}
	}
}

.infograficos-desktop {
	padding: 0;
	height: 725px;

	iframe {
		min-height: 725px;
		width: 100%;
	}
}

.infograficos-mobile {
	background: image-url("infografico-bg.jpg");

	h2 {
		color: #8a8a8a;
		text-transform: none;
		font-size: 24px;
		font-weight: 300;
		margin-top: 40px;
		font-style: italic;

		span {
			color: #fff;
			font-weight: 600;
		}

	}

	img {
		margin: auto;
	}

	a {
		border: 1px solid #8a8a8a;
		border-radius: 5px;
		display: inline-block;
		margin: auto;
		color: #8a8a8a;
		padding: 10px 20px;
		text-transform: uppercase;

		&:hover {
			color: #fff;
			border-color: #fff;
		}
	}
}

.banners {
	
	&.dark {
		background: #000;
	}

	&.light {
		background: $color1;
	}
}

.artigos {
	background: $color2;

	h2 {

		small {
			color: $color1;
		}
	}

	.artigo {
		background: #EBEBE8;
		box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.28);
		border-radius: 8px;
		padding: 50px;
		min-height: 450px;
		opacity: 0.8;
		@include transition(opacity, 0.3s ease-out);

		&:hover {
			opacity: 1;
		}

		img {
			border: 4px solid #FFFFFF;
		}

		.titulo {
			font-size: 20px;
			color: #D80B47;
			line-height: 29px;
			display: block;
			margin: 24px 0;
			font-weight: bold;
			line-height: 25px;
		}

		.descricao {
			color: $color1;
		}
	}
}


.icon {
	@include transition(opacity, 0.1s ease-out);
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	display: block;
	font-family: FontAwesome;
	color: $color2;
	opacity: 0.8;
}

a:hover .icon {
	text-shadow: 0 0 40px #000;
	opacity: 1;
}

.icon_player:before {
	content: "\f04b";
}

//iphone
@media (max-width: 568px) {

	body>header {
		background-position-x: 1065px;
	}

	.logo {

		img {
			margin: auto;
			position: absolute;
			top: 0; left: 0; bottom: 0; right: 0;
			-webkit-transform: translateY(0);
			-ms-transform: translateY(0);
			transform: translateY(0);
		}
	}

	.video, .artigos .col-md-4 {
		margin-bottom: 40px;

		&:nth-last-child(1) {
			margin-bottom: 0;
		}
	}

	.secundario .itens a {
		margin-bottom: 50px;
	}

}


@media(max-width:450px) {
	body>header {
		background-position: 995px -55px !important;
	}

	.banner {
		margin-bottom: 30px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

@media(max-width:767px) {
	body>header {
		background-position: 1245px -50px;
		height: 350px;
	}

	.logo {
		height: 350px;

		img {
			height: auto;
			width: auto;
			max-width: 250px; 
			max-height: 250px;
			margin-left: 50px;
		}
	}

	.banner {
		margin-bottom: 30px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

@media (min-width:768px) {
	body>header {
		background-position: 1215px 0;
	}

	.logo {

		img {
			margin-left: 50px;
		}
	}
}

@media (min-width:992px) {
	body>header {
		background-position: 1465px 0;
	}

	.logo {

		img {
			margin-left: 50px;
		}
	}
}

@media (min-width:1024px) {
	body>header {
		background-position: center top;
	}
}

/*
@media(max-width:767px){}
@media(min-width:768px){}
@media(min-width:992px){}

*/