// Theme Options
// -------------------------

$theme-main-color: 					$institucional-main-color;								// Header background color, widgets links color, widgets tags, widgtes color highlights
$theme-alt-color: 					#145351;										// Widgets headers color
$theme-main-nav-base-color:			darken($theme-alt-color, 7%);								// Main nav background color base
$theme-footer-base-color:			darken($theme-alt-color, 7%);							// Footer color base
//$theme-header-background-img:		'static/img/headers/musica.jpg';				// Header background image
//$theme-logo: 						'static/img/logos/iasd_header_logo.png';				// Header logo image
//$theme-logo-retina: 				'static/img/logos/iasd_header_logo@2x.png';			// Header logo retina image resource